.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.description {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  background-color: light-dark(var(#500000), var(--mantine-color-dark-5));
  border: rem(1px) solid light-dark(var(--mantine-color-red-filled), var(--mantine-color-dark-5));
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: light-dark(var(--mantine-color-red-filled), var(--mantine-color-red-filled));
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}

.cardDesc {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-3)) !important; /* Adjust this as needed */
}

.drawerLink .link {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-black)) !important;
}